{% extends 'base.html' %}
{% block content %}
    <br>
    <h1>{{ titulo }}</h1>
    <br>

    {% for mensagem in get_flashed_messages() %}
        {% if mensagem == 'Quarto cadastrado com sucesso!' %}
            {% set categoria = 'success' %}
        {% else %}
            {% set categoria = 'danger' %}
        {% endif %}
        <div class="alert alert-{{ categoria }} alert-dismissible fade show" role="alert">
            {{ mensagem }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="row">
            {% if user.hotel_id is none %}
                <div class="form-group col-6">
                    {{ form.hotel_id.label(class="form-label") }}
                    {{ form.hotel_id(class="form-control") }}
                </div>
            {% else %}
                <div class="form-group col-6" style="display: none">
                    {{ form.hotel_id.label(class="form-label") }}
                    {{ form.hotel_id(class="form-control") }}
                </div>
            {% endif %}
            <div class="form-group col-6">
                {{ form.number.label(class="form-label") }}
                {{ form.number(class="form-control") }}
            </div>

            <div class="form-group col-6">
                {{ form.kind.label(class="form-label") }}
                {{ form.kind(class="form-control") }}
            </div>

            <div class="form-group col-6">
                {{ form.phone_extension.label(class="form-label") }}
                {{ form.phone_extension(class="form-control") }}
            </div>

            <div class="form-group col-6">
                {{ form.price.label(class="form-label") }}
                {{ form.price(class="form-control") }}
            </div>

            <div class="form-group col-6">
                {{ form.guest_limit.label(class="form-label") }}
                {{ form.guest_limit(class="form-control") }}
            </div>

            <br><br><br><br>
            <div class="row">
                <div class="form-group col-2">
                    {{ form.submeter(class="btn btn-secondary") }}
                </div>
            </div>
        </div>
    </form>

{% endblock %}
