{% extends 'base.html' %}
{% block content %}

    <main class="col-md-9 col-lg-12 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>

        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">{{ contador_quartos }} / {{ len(status_reservas) }}</h5>
                        <p class="card-subtitle mb-2 text-muted">Quartos ocupados / Quartos total</p>

                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">{{ contador_hospedes }}</h5>
                        <p class="card-subtitle mb-2 text-muted">Hóspedes</p>

                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">R$ {{ contas_receber_mes }}</h5>
                        <p class="card-subtitle mb-2 text-muted">Contas recebidas no mês</p>

                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">R$ {{ contas_pagar_mes }}</h5>
                        <p class="card-subtitle mb-2 text-muted">Contas pagas no mês</p>

                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="d-flex flex-row">
            <canvas id="graphs_bar" width="1200" height="400"></canvas>
        </div>
    </main>

{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    <script type='text/javascript'>

        function grafico(dados) {
            let datas = [];
            let tipos = [];
            let valores = [];

            let datas_cr = [];
            let valores_cr = [];
            let datas_cp = [];
            let valores_cp = [];

            for (let i = 0; i < dados.length; i++) {
                datas.push(dados[i][0]);
                tipos.push(dados[i][1]);
                valores.push(dados[i][2]);
                console.log(dados)

                if (dados[i][1] === 'Contas a receber') {
                    datas_cr.push(dados[i][0]);
                    valores_cr.push(dados[i][2]);
                } else {
                    datas_cp.push(dados[i][0]);
                    valores_cp.push(dados[i][2]);
                }
            }
            datas = [...new Set(datas)];
            new Chart(document.getElementById("graphs_bar"), {
                type: 'bar',
                data: {
                    labels: datas,
                    datasets: [
                        {
                            stack: datas,
                            backgroundColor: ['#A34D0D', '#A34D0D', '#A34D0D', '#A34D0D', '#A34D0D', '#A34D0D'],
                            data: valores_cp,
                            label: "Contas a pagar"
                        },
                        {
                            stack: datas,
                            backgroundColor: ['#370A90', '#370A90', '#370A90', '#370A90', '#370A90', '#370A90'],
                            data: valores_cr,
                            label: "Contas a receber"
                        }
                    ]
                },
                options: {
                    legend: {display: false},
                    responsive: false,
                    scales: {
                        yAxes: {
                            ticks: {
                                beginAtZero: true
                            },
                            stacked: true
                        }
                    }
                }
            });
        }

        grafico({{ contas_grafico | tojson | safe }});
    </script>
{% endblock %}