{% extends 'base.html' %}
{% block content %}
    <br>
    <h1>{{ titulo }}</h1>
    <br>

    {% for mensagem in get_flashed_messages() %}
        {% if mensagem == 'Hotel cadastrado com sucesso!' %}
            {% set categoria = 'success' %}
        {% else %}
            {% set categoria = 'danger' %}
        {% endif %}
        <div class="alert alert-{{ categoria }} alert-dismissible fade show" role="alert">
            {{ mensagem }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="row">
            <div class="form-group col-6 mt-2">
                {{ form.name.label(class="form-label mb-0") }}
                {{ form.name(class="form-control") }}
            </div>

            <div class="form-group col-6 mt-2">
                {{ form.phone.label(class="form-label mb-0") }}
                {{ form.phone(class="form-control") }}
            </div>

            <div class="form-group col-6 mt-2">
                {{ form.email.label(class="form-label mb-0") }}
                {{ form.email(class="form-control") }}
            </div>

            <div class="form-group col-6 mt-2">
                {{ form.cnpj.label(class="form-label mb-0") }}
                {{ form.cnpj(class="form-control") }}
            </div>

            <div class="form-group col-6 mt-2">
                {{ form.cep.label(class="form-label mb-0") }}
                {{ form.cep(class="form-control") }}
            </div>

            <div class="form-group col-6 mt-2">
                {{ form.endereco.label(class="form-label mb-0") }}
                {{ form.endereco(class="form-control") }}
            </div>

            <div class="form-group col-6 mt-2">
                {{ form.numero.label(class="form-label mb-0") }}
                {{ form.numero(class="form-control") }}
            </div>

            <div class="form-group col-6 mt-2">
                {{ form.complemento.label(class="form-label mb-0") }}
                {{ form.complemento(class="form-control") }}
            </div>

            <div class="form-group col-6 mt-2">
                {{ form.bairro.label(class="form-label mb-0") }}
                {{ form.bairro(class="form-control") }}
            </div>

            <div class="form-group col-6 mt-2">
                {{ form.cidade.label(class="form-label mb-0") }}
                {{ form.cidade(class="form-control") }}
            </div>

            <div class="form-group col-6 mt-2">
                {{ form.estado.label(class="form-label mb-0") }}
                {{ form.estado(class="form-control") }}
            </div>

            <div class="form-group col-6 mt-2">
                {{ form.pais.label(class="form-label mb-0") }}
                {{ form.pais(class="form-control") }}
            </div>

            <br><br><br><br>
            <div class="row">
                <div class="form-group col-2">
                    {{ form.submeter(class="btn btn-secondary") }}
                </div>
            </div>
        </div>
    </form>
    
{% endblock %}