{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{%block title%}Novo!{%endblock%}

{%block content%}

	<h1>Olá {{ current_user.name }}!</h1>
	<h3>Cadastro de Usuario</h3>
	<div class="row">
		<div class="col-sm">

			<form action="/save/" method="post" name="exampleform">
				{{ wtf.form_errors(form,"only") }}

				{{ form.hidden_tag() }}
				{{ wtf.form_field(form.name) }}<br>
				{{ wtf.form_field(form.email) }}
				{{ wtf.form_field(form.password) }}
				{{ wtf.form_field(form.password_confirmation) }}
				{# wtf.form_field(form.recaptcha) #}

				<div class="form-actions">
					<button name="action_save" type="submit" class="btn btn-primary">Cadastrar</button>
				</div>
			</form>

		</div>
	</div>

{%endblock%}
