<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/cards.css') }}">
{% extends 'base.html' %}
{% block content %}
    <br>
    <h1>Ocupação dos quartos</h1>
    <br>

    {% for mensagem in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ mensagem }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for quarto in quartos %}
            <div class="col-lg-4">
                <div class="card-header no-border">
                    <h5 class="card-title">
                        {% if status_reservas[quarto.id] %}
                            OCUPADO
                        {% else %}
                            DISPONÍVEL
                        {% endif %}
                    </h5>
                </div>
                <div class="card card-margin">
                    <div class="mt-4 card-body pt-0">
                        <div class="widget-49">
                            <div class="widget-49-title-wrapper">
                                {% if status_reservas[quarto.id] %}
                                    <div class="widget-49-date-danger">
                                {% else %}
                                    <div class="widget-49-date-success">
                                {% endif %}
                                    <span class="widget-49-date-day">#{{ quarto.number }}</span>
                                    <span class="widget-49-date-month"></span>
                                </div>
                                <div class="widget-49-meeting-info">
                                    <span class="widget-49-pro-title">
                                        Quarto Casal
                                    </span>
                                    <span class="widget-49-meeting-time">12:00 to 13.30 Hrs</span>
                                </div>
                            </div>
                            <ul class="widget-49-meeting-points">
                                <li class="widget-49-meeting-item"><span><b>Tipo:</b> {{ quarto.kind }}</span></li>
                                <li class="widget-49-meeting-item"><span><b>Preço:</b> R${{ quarto.price }}<span class="widget-49-meeting-time">(por noite)</span></span></li>
                                <li class="widget-49-meeting-item"><span><b>Limite de Hóspedes:</b> {{ quarto.guest_limit }}</span></li>
                            </ul>
                            <div class="widget-49-meeting-action">
                                <form method="POST" action="{{ url_for('editar_quarto_endpoint', id=quarto.id) }}">
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-sm btn-outline-secondary"
                                                value="{{ quarto.id }}">
                                            Editar
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
