<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/cards.css') }}">
{% extends 'base.html' %}
{% block content %}
    <br>
    <h1>Quartos disponiveis</h1>
    <br>

    {% for categoria, mensagem in get_flashed_messages(with_categories=true) %}
            <div class="alert alert-{{ categoria }} alert-dismissible fade show" role="alert">
                    {{ mensagem }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
    {% endfor %}

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for quarto in quartos %}
            <div class="col-lg-4">
                <div class="card card-margin">
                    <div class="mt-4 card-body pt-0">
                        <div class="widget-49">
                            <div class="widget-49-title-wrapper">
                                <div class="widget-49-date-success">
                                    <span class="widget-49-date-day">#{{ quarto.number }}</span>
                                    <span class="widget-49-date-month"></span>
                                </div>
                                <div class="widget-49-meeting-info">
                                    <span class="widget-49-pro-title">{{ quarto.name }}</span>
                                    <span class="widget-49-meeting-time">{{ quarto.short_description }}</span>
                                </div>
                            </div>
                            <ul class="widget-49-meeting-points">
                                <li class="widget-49-meeting-item"><span><b>Tipo:</b> {{ quarto.kind }}</span></li>
                                <li class="widget-49-meeting-item"><span><b>Preço:</b> R${{ quarto.price }}<span class="widget-49-meeting-time">(por noite)</span></span></li>
                                <li class="widget-49-meeting-item"><span><b>Limite de Hóspedes:</b> {{ quarto.guest_limit }}</span></li>
                            </ul>
                            <div class="widget-49-meeting-action">
                                <a href="{{ url_for('adicionar_reserva_endpoint', quarto_id=quarto.id, check_in=form_reserva.check_in.data, check_out=form_reserva.check_out.data, total_guests=form_reserva.total_guests.data) }}">
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-sm btn-flash-border-warning" value="{{ quarto.id }}">
                                            RESERVAR
                                        </button>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
